/* dark orange #a54414 */
/* light orange #ea9714 */

/* Keeping the footer where it belongs */

.over-all-container {
  position: relative;
  min-height: 100vh;
}

/* NECESSARY FOR FOOTER TO WORK */
.content-wrapper {
  padding-bottom: 350px;
}

footer {
  position: fixed;
  bottom: 0;
  min-height: 30px;
  width: 100%;
  background-color: #a54414;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 25px;
}

footer .col-6 {
  margin-top: 10px;
}

footer .footer-sections {
  color: "red" !important;
  padding: 20px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  line-height: 25px;
}

body {
  height: 100%;
}

/* @media only screen and (max-width: 900px) {
  #header .header-text {
    padding: 30px 50px;
  }
} */

/* @media only screen and (max-width: 700px) {
  #header .header-text {
    padding: 20px 20px;
  }
} */

/* @media only screen and (min-width: 1500px) {
  #header .header-text {
    padding: 20px 70px;
  }
} */

/* @media only screen and (min-width: 1200px) {
  #header .header-text-one {
    font-size: 55px !important;
  }
} */

#services {
  margin: 20px;
}

#services .service {
  margin-bottom: 120px;
}

#services .section-header {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

#services .service-header-text {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

#services .service-body-text {
  text-align: center;
  max-width: 600px;
  margin: 10px auto;
}

#services .service-images-container {
  width: 100%;
}

#services .service-image {
  display: flex;
  justify-content: space-between;
}
#services .service-image img {
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#contact .section-header {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

#products-table-section .add-product-button {
  position: fixed;
  bottom: 70px;
  right: 25px;
  background-color: rgba(234, 152, 20, 0.75);
}

#ims .ims-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 7px;
}

/* INVENTORY SALES PAGE */
#inventory-sales #button-group button {
  color: #fff;
}
